.banner{
    height: 460px;
    position: relative;
}
.content>img{
    width: 1226px;
    height: 460px;
}
.l-left{
    position: absolute;
    left: 234px;
    top: 50%;
    height: 70px;
    width: 40px;
    margin-top: -35px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
}
.l-left .iconfont{
    color: #b8c3cb;
    font-size: 30px;
}
.l-right{
    position: absolute;
    top: 50%;
    right: 0;
    height: 70px;
    width: 40px;
    margin-top: -35px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
}
.l-left:hover{
    background: rgba(0, 0, 0, 0.5);
}
.l-right:hover{
    background: rgba(0, 0, 0, 0.5);
}
.l-right .iconfont{
    color: #b8c3cb;
    font-size: 30px;
}