.top-nav{
    background: #333;
    height: 40px;
    color: #b0b0b0;
    font-size: 12px;
    
}
.topnav-menu{
    line-height: 40px;
}
.topnav-menu a:hover{
    color: #fff;
}
.topnav-menu a{
    padding: 0 7px;
    border-right: 1px solid #424242; 
}
.topnav-menu :last-child a{
    border-right: none;
}
.gwc{
    background: #424242;
    width: 120px;
    height: 40px;
    margin-left: 13px;
    position: relative;
}
.cc{
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    display: block;
}
.cc .iconfont{
    margin-right: 3px;
}
.rm{
    background: #fff;
    position: absolute;
    right: 0;
    top: 40px;
    height: 100px;
    width: 320px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
    line-height: 100px;
    display: none;
    z-index: 150;
}
.gwc:hover .rm{
    display: block;
    color: #ccc;
}
.gwc:hover{
    background: #fff;
    color: #ff6700;
}
